body {
    background-color: #393f4d; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    color: #d4d4dc;
    padding: 20px;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-size: x-large;
    text-align: left;
    padding: 20px;
}

article {
    text-align: left;
    padding: 20px;
    font-size: large;
    color: #feda6a;
}

a {
    color: lightblue;
}

ol {
    list-style: decimal;
    padding: 10px;
}

footer {
    padding: 10px;
    color: #d4d4dc;
}